body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav {
  background-color: #f7eee0;
  height: 80px;
}

#text-white {
  color: #f7eee0;
}

#orange {
  background-color: #faaf4c;
}

#pink {
  background-color: #ff8c79;
}

#text-pink {
  color: #ff8c79;
}

#purple {
  background-color: #7382c3;
}
.custom-box {
  max-width: 400px; /* Adjust the maximum width as needed */
  margin-left: 0; /* Align the box to the left */
  margin-top: 60px;
}


.box {
  width: 431.99px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.box-link {
  display: inline-block;
  position: relative;
}

.box-link .hover-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  color: #4cfae1;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;
}

.box-link:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
}

.box-link:hover .hover-message {
  opacity: 1;
  visibility: visible;
}


.box1 {
  background-image: url('../assets/Code\ Refractor.png');
  
}

.box2 {
  background-image: url('../assets/PW\ Generator.png');
}

.box3 {
  background-image: url('../assets/Day\ Planner.png');
}

.box4 {
  background-image: url('../assets/Weather\ Dashboard.png');
}

.box5 {
  background-image: url('../assets/JS\ Quiz.png');
}

.box6 {
  background-image: url('../assets/README\ Generator.png');
}

.box7 {
  background-image: url('../assets/Logo\ Generator.png');
}

.box8 {
  background-image: url('../assets/Note\ Taker.png');
}

.box9 {
  background-image: url('../assets/Employee\ Tracker.png');
}

.box10 {
  background-image: url('../assets/Colour\ Game.png');
}

.box11 {
  background-image: url('../assets/NoSQL\ Social.png');
}

.box12 {
  background-image: url('../assets/Text\ Editor.png');
}

